body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    background-image: url('geometric-leaves.png');
    color: #333;
}

.container {
    width: 60%;
    margin: auto;
    overflow: hidden;
}

header {
    background: white;
    color: black;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: lightslategrey; 3px solid;
    text-align: center;
    font-family: "Rosarivo", cursive;
    font-weight: 400;
}

header h1 {
    margin: 0;
    padding-bottom: 20px;
    font-size: 3.5em;
}

.content-section {
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

h2 {
    font-family: "Rosarivo", cursive;
}

h3 {
    font-family: "Rosarivo", cursive;
}
